*{
	margin-left:0px;
    margin-top:0px;
    background-color: #708090;
}
.header
{
	border:20px solid black;
}
.header img
{
	top: 2px;
	left:2px;
	height: 100px;
	position: relative;
}
.header table
{
	position: relative;
	width:80%;
	float:right;
}
.header td 
{
	top:10px;
	position: relative;
	padding: 30px 50px;
	font-size: 20px;
	text-decoration: none;
}
.header a
{
	position: relative;
	text-decoration: none;
	color: black;
}
.profile h1
{
	text-align: center;
}
.profile img
{

	width: 600px;
	height: auto;
}
.profile_content pre
{
	font-size: 20px;
}
.profile_content h1
{
	text-align: center;
}
#one
{
	margin-left:40px; 
	height: 450px;
	width: 300px;
}
#two
{
	margin-left:40px; 
	height:450px; 
	width:350px;
}
#three
{
	height: 450px;
	width:350;
	margin-left: 40px;
}
#four
{
	margin-top: 20px;
	height: 450px;
	width:350;
	margin-left: 70px;	
}
#five
{
	margin-top: 20px;
	margin-left:70px; 
	height:450px; 
	width:300px;
}
#six
{
	margin-top: 20px;
	height: 450px;
	width:300;
	margin-left: 70px;		
}
#seven
{
	margin-top: 20px;
	margin-left:50px; 
	height:450px; 
	width:350px;	
}
#eight
{
	margin-top: 20px;
	margin-left:50px; 
	height:450px; 
	width:350px;
}
#nine
{
	margin-top: 20px;
	margin-left:50px; 
	height:450px; 
	width:300px;
}
#ten
{
	margin-top: 20px;
	margin-left:50px; 
	height:450px; 
	width:300px;
}
#eleven
{
	margin-top: 20px;
	margin-left:40px; 
	height:450px; 
	width:350px;
}
#tweleve
{
	margin-top: 20px;
	margin-left:50px; 
	height:450px; 
	width:350px;
}
#thirteen
{
	margin-top: 20px;
	margin-left: 50px;
	height:275px;
	width: 500px;
}
#fourteen
{
	margin-top: 20px;
	margin-left:40px; 
	height:275px; 
	width:500px;
}
.profile hr
{
	height: 5px;
	color: solid white;
}